*{
    padding: 0;
    margin: 0;
}
h4{
    padding-top: 20px;
    color: #3857ff;
    padding-left: 10%;
}
p{
    padding-left: 50px;
}
.text,
ol{
    padding-top: 20px;
    width: 90%;
    padding-left: 10%;
}
ul{
    list-style-type:disc;
    padding-left: 150px;
}

/*============================
========Footer=======
============================*/
@media (max-width: 702px) {
    h4{
        padding-top: 20px;
        color: #3857ff;
        padding-left: 5%;
    }
    p{
        padding-left: 15px;
    }
    .text,
    ol{
        padding-top: 20px;
        width: 90%;
        padding-left: 5%;
    }
    ul{
        list-style-type:disc;
        padding-left: 30px;
    }
}